<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/9.5/configuration.html -->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    processIsolation="true"
    stopOnFailure="false"
    bootstrap="vendor/autoload.php">
  <coverage>
    <report>
      <clover outputFile="./report/coverage/clover.xml"/>
      <php outputFile="./report/coverage/coverage.php"/>
      <text outputFile="./report/coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
      <html outputDirectory="./report/coverage/html/"/>
      <xml outputDirectory="./report/coverage/xml/"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="Docker PHP Tests Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
